.poster-design{
    width:400px;
    height:350px;
    text-align: center;
    border-radius:5px;
}




.span-line{
    font-family:sans-serif;
    font-size:30px;
    color:darkred;
}

.span-line2{
    font-family:sans-serif;
    font-size:25px;
    color:darkviolet;
}
@media screen and (max-width: 768px){
    .span-line2{
        font-family:sans-serif;
        font-size:15px;
        color:darkviolet;
    }
    .span-line{
        font-family:sans-serif;
        font-size:25px;
        color:darkred;
    }

}